// -------------------------------------------------------------------------
// Miscellaneous Variables

$mh-height-small:  3.5625rem;
$mh-height-medium: 5.875rem;
$mh-height-large:  5.875rem;


// Border radiuses

$radius-xsmall: 2px;
$radius-small:  4px;
$radius-medium: 6px;
$radius-large:  8px;
$radius-xlarge: 16px;

