// --------------------------------------------------------------------------
// utility mixins

@mixin underline($color, $alpha: .7, $position: .94em) {
	@include background-image(linear-gradient(rgba(0,0,0,0) 50%, rgba($color, $alpha) 50%));
	background-size: 4px 4px;
	background-repeat: repeat-x;
	background-position: 0 $position;
}
