// --------------------------------------------------------------------------
// =cta

.cta {
	text-align: center;
}

div.cta {
	margin: 0 0 1.5em;
	padding: 1em;

	@include media($medium) {
		padding: 2em;
	}
}

.cta--has-form {
	@include media($large) {
		text-align: left;
	}

	.cta__content {
		@include media($large) {
			float: left;
			width: 40%;
		}
	}

	h2 {
		@include media($large) {
			text-align: left;
		} 
	}
}

.cta__form {
	max-width: 30em; // matches max-width on form inputs
	margin-left: auto;
	margin-right: auto;

	@include media($large) {
		float: right;
		width: 48%;
	}
}

.cta__heading {
	margin: .25em 0;

	@include media($large) {
		margin: 0 0 .5em;
	}
}

.cta__copy {
	font-style: italic;
}

.cta__company,
.cta__phone {
	@include media($medium) {
		display: inline-block;
		width: 14.4em;
		margin-left: .4em;
		margin-right: .4em;
	}

	@include media($large) {
		display: inline-block;
		width: 48%;
	}
}

.cta__company {
	@include media($large) {
		margin-left: 0;
		margin-right: 3.2%;
	}
}

.cta__phone {
	@include media($large) {
		margin-left: 0;
		margin-right: 0;
	}
}

.cta__button {
	margin: 2.5em 0 1.5em;
}

