{% extends '_layouts/main' %}

{% set homeTitle = entry.metaTitle | default(entry.title) %}
{% set metaDescription = entry.metaDescription %}

{% block content %}

{# ------------------------------------
INTRO CONTENT
------------------------------------ #}
<section class="section section--intro">
	<div class="section__in">
		<h1>{{ entry.title }}</h1>
		
		{{ entry.copy | md }}

		<p class="section__button"><a href="#" class="button go waves-effect waves-light">Learn more</a></p>
	</div>
</section>


{% endblock %}

