// --------------------------------------------------------------------------
// =forms

form {
	
	ol {
		margin: 0;
		padding: 0;
	}
	
	li,
	p,
	.question {
		list-style: none;
		margin: 0 0 1em;

		&.required {
			position: relative;

			&:before {
				position: absolute;
				left: -.75em;
				top: .3em;
				
				content: '*';
				display: block;

				color: $clr-ui-warning;

				@include media($medium) {
					left: -1em;
				}
			}
		}
	}

	.opt-in {
		position: relative;
		margin: 0 0 1em;

		input[type='checkbox'] {
			display: inline-block;
			width: 1em;
			margin-right: .25em;
			vertical-align: top;
		}

		label {
			display: inline-block;
			width: calc(100% - 2em);
			vertical-align: top;

			font-weight: normal;
		}
	}
}

fieldset {
	margin: 0 0 1.5em;

	&:last-of-type {
		margin: 0;
	}
}

label {
	display: block;
	
	margin: 0 0 .5em;

	font-weight: bold;
	line-height: 1;

	.help {
		margin: 0 0 0 .5em;
		
		font-size: inherit;
		font-weight: normal;
	}

	&.error {
		margin: .5em 0 0;
		
		color: $clr-ui-warning;
		
		text-transform: none;
		font-weight: normal;
	}

	span {
		display: inline-block;
		opacity: .75;
		
		font-size: 80%;
	}
}

.help {
	font-size: em($fs-fine-small);
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='number'],
textarea,
select {
	@include appearance(none);

	border: 1px solid $clr-lighter-grey;

	color: $clr-dark-grey;
	background-color: $clr-white;
}

::-webkit-placeholder {
	color: $clr-dark-grey;
}

::-moz-placeholder {
	color: $clr-dark-grey;
}

::-ms-placeholder {
	color: $clr-dark-grey;
}

::placeholder {
	color: $clr-dark-grey;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='number'],
select,
textarea {
	padding: .5em;
	width: 100%;
	max-width: 30em;

	line-height: 1.4;
}

input.error,
textarea.error,
select.error {
	border: 1px solid $clr-ui-warning;

	color: $clr-ui-warning;
	background-color: pink;
}

span.error {
	display: block;
	margin: .5em 0 0;
	
	color: $clr-ui-warning;
	
	font-size: em($fs-body-small);
}

select {
	padding: .5em;
	width: 100%;
	max-width: 30em;
	border-radius: 0;
}

.note {
	font-size: em($fs-body-small);
}

%button {
	@extend %z-depth-1;
	@include transition(all 0.2s ease-in-out);
	@include font-sans(700);

	overflow: visible;

	margin: .5em 0;
	padding: .5em 1em;
	//border: 1px solid $clr-ui-link;
	border: none;
	border-radius: $radius-xsmall;
	cursor: pointer;

	color: $clr-white;
	background-color: $clr-ui-link;
	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;

	font-size: rem($fs-fine-small);
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.4;
	text-align: center;

	&:link,
	&:visited {
		@extend %z-depth-1;
		
		//border: 1px solid $clr-ui-link;
		
		color: $clr-white;
		background-color: $clr-ui-link;
	}

	&:hover,
	&:visited:hover {
		@extend %z-depth-1-half;
		
		//border: 1px solid $clr-ui-link-hover;

		color: $clr-white;
		background-color: $clr-ui-link-hover;
	}

	&::-moz-focus-inner {
		border: none; 
	}
}

button,
.button {
	@extend %button;

	display: inline-block;
}

// honeypot field
.yourcomments {
	display: none;
}

