// --------------------------------------------------------------------------
// headings

h2,
h4,
h5,
h6 {
	line-height: 1.1;
}

h1,
h2 {
	@include font-sans();

	text-align: center;
}

h3,
h4,
h5,
h6 {
	@include font-sans(700);

	text-transform: uppercase;
}

h1 {
	@include font-sans();

	margin: 0 0 .375em;

	font-size: em($fs-h1-small);
	line-height: 1.1em;

	@include media($medium) {
		margin: 0 0 .5em;

		font-size: em($fs-h1-medium);
	}

	@include media($large) {
		margin: 0 0 .3em;

		font-size: em($fs-h1-large);
	}
}

h2 {
	margin: 0 0 .45em;

	font-size: em($fs-h2-small);

	@include media($medium) {
		font-size: em($fs-h2-medium);
	}

	@include media($large) {
		font-size: em($fs-h2-large);
	}
}

h3 {
	//margin: 0 0 .35em;
	margin: .94em 0 .625em;

	font-size: em($fs-h3-small);
	letter-spacing: 1px;

	@include media($medium) {
		font-size: em($fs-h3-medium);
	}
}

h4 {
	margin: 1.5em 0 .375em;

	font-size: em($fs-h4-small);

	@include media($medium) {
		font-size: em($fs-h4-medium);
	}
}

h5 {
	margin: 0 0 .375em;
	
	font-size: em($fs-h5-small);

	@include media($medium) {
		font-size: em($fs-h5-medium);
	}
}
