<form action="{{ craft.config.campaignMonitorUrl }}" method="post" class="subscribe">
	<p><input name="cm-{{ craft.config.campaignMonitorFieldId }}" id="{{ craft.config.campaignMonitorFieldId }}" type="email" class="email" placeholder="Your email address"> <button class="waves-effect waves-light" value="submit" name="submit" type="submit">Subscribe</button></p>
</form>
